.container {
    padding: 0 10px;

    &>h1 {
        text-transform: capitalize;
        color: deeppink;
    }

    &>.box-color {
        $box-size: 200px;
        width: $box-size;
        height: $box-size;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 42px;
        cursor: pointer;
        transition: all .25s ease-out 0s;
    }
}